#editProfileContent {
  display: flex;
  flex-direction: row;
}

div.primaryContainer{
  margin-bottom: 40px;
}

#editProfileContent .activeLink {
  border-left: 3px solid #3B5998;
  padding-left: 12px;
}

ul#editProfileTabs {
  padding: 10px 0 10px 0;;
  width: 200px;
  max-width: 200px;
}

a.navLink {
  color: #90949C;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px 10px 15px;
  margin: 5px 0 5px 0;

}

.imgPropContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid #DDDFE2;
}

.imgPropContent > svg {
  height: 36px;
  width: 36px;
  fill: #4080ff;
  margin-right: 10px;
}

.imgPropContent > a {
  font-size: 16px;
  color: #4080ff;
  padding: 20px 10px 20px 0px;
}

.addContent:hover {
  cursor: pointer;
}

.addContent:active {
  box-shadow: 0 0 3px 3px #7DA8FB;
}

div.propertyContainer > div:last-child {
  padding-bottom: 30px;
}


div.propertyForm {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border-left: 1px solid #D3D6DB;
    flex-grow: 1;
    justify-content: flex-start;
}

.contentHeader {
  margin-bottom: 15px;
  color: #90949C;
  font-weight: bold;
  font-size: 14px;
  height: 10px;
}

.propForm {
  background-color: #f6f7f9;
  padding: 15px 0 15px 0;
  margin:  -1px -25px -1px -25px;
  border-top: 1px solid #E9EBEE;
  border-bottom: 1px solid #E9EBEE;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

div.entry {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 15px;
  margin: 0 30px 0 30px;
  /*border-bottom: 1px solid #DDDFE2;*/
}

div.entry h3 {
  color: #666;
  font-size: 18px;
  padding-right: 20px;
  width: 100px;
  display: flex;
  justify-content: flex-end;
  padding-top: 3px;
}



div.entry > div > input {
  font-size: 18px;
  color: black;
  height: 30px;
  width: 250px;
  border: 1px solid #D3D6DB;
  padding-left: 10px;
}

div.entry input::placeholder {
  color: #bdc7d8
}

div.formButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  align-self: center;
  flex-grow: 1;
}

button:focus {
  box-shadow: 0 0 3px 3px #7DA8FB;
}

button.submitForm {
  font-size: 14px;
  color: white;
  font-weight: bold;
  background-color: #4267b2;
  border: none;
  border-radius: 3px;
  padding: 10px;
  margin-right: 10px;
  transition: background-color .4s;
}

button.submitForm:hover {
  background-color: #365899;
}

div.imgPropContent.showContent {
  padding: 15px 0 15px 0;
}

div.imgPropContent.showContent:hover div.editDisplay {
  display: flex;
}


div.infoDisplay {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;

}

div.editDisplay {
  display: none;
  flex-direction: row;
  align-items: center;
}

div.editDisplay a {
  margin-right: 10px;
  color: #4080ff;
  padding: 1px;
  border-right: 1px solid #E9EBEE;

}
div.editDisplay > *:hover {
  cursor: pointer;
  text-decoration: underline;
}

div.deletePropButton:hover {
  background-color: #3B5998;
  color: white;
}

h1.valueDisplay {
  font-size: 20px;
  font-weight: bold;
  color: #365899;
  background-color: white;
  padding-bottom: 5px;
}

h4.valueDisplay {
  color: #4b4f56;
  max-width:  550px;
  word-break: break-all;
  white-space: pre-line;
  text-align: left;
  font-size: 14px;
  line-height: 18px;
}

div.valueDisplay {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

button.cancelForm {
  font-size: 14px;
  color: #4b4f56;
  font-weight: bold;
  background-color: #F6F7F9;
  border: 1px solid #ced0d4;
  border-radius: 3px;
  padding: 10px;
  margin-right: 10px;
  transition: background-color .4s;
}



button.cancelForm:hover {
  background-color: #E9EBEE;

}

#autocomplete {
  position: absolute;
  background-color: white;
  border: 1px solid black;
}

#autocomplete li {
  padding: 5px 10px 5px 10px;
}

#autocomplete li:hover {
  background-color:#3B5998;
  color: white;
  cursor: pointer;
}

li.overviewItem {
  padding: 5px 0 15px 0;
  border-bottom: 1px solid #E9EBEE;
}

ul#overviewItems li:last-child{
  border: 0 none;
  padding-bottom: 15px;
}

ul#overviewItems a:active, ul#overviewItems a {
  text-decoration: none;
}

div.imgPropContent.addContent.overview {
  border: 0 none;
}

p.overviewTitle {
  color: #4080ff;
  text-decoration: none;
  min-height: 36px;
  display: flex;
  align-items: center;
}

p.overviewTitle.value {
  color: gray;
}
