
.primaryContainer {
  width: 850px;
}

.secondaryContainer {
  font-size: 26px;
  font-weight: bold;
  color: #4B4F56;
  padding: 15px;
  background-color: #F6F7F9;
  border-bottom: 1px solid #D3D6DB;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.secondaryContainer > h4 {
  margin-top: 10px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}

.firstRowHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}

ul#friendsListContainer {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding-top: 13px;
}

.friendItem {
  display: flex;
  flex-direction: row;
  width: 400px;
  border: 1px solid #e9ebee;
  margin-left: 15px;
  margin-bottom: 15px;
}

.friendItem > img, .friendItem > svg {
  height: 100px;
  width: 100px;
  background-color: gray;
}

.friendInfoContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.friendItem a {
  text-decoration: none;
}

.friendItem a:hover {
  text-decoration: underline;
}

.friendInfo h3 a {
  color: #3B5998;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.friendInfo h5 a {
  color: #90949C;
}

.headerButton.item {
  margin-right: 10px;
  border: 1px solid #CED0D4;
}

.friend.buttonContainer > .headerButton.item {
  margin: 0px;
}
#requestsButton {
  margin-right: -2px
}

.friend.buttonContainer a {
  text-decoration: none
}

#friendsRequestsPage {
  display: flex;
  justify-content: center;
}

h1#requestsPageHeader {
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
}

#friendsRequestsListContainer {
  width: 800px;
  border: 1px solid #D3D6DB;
  background-color: white;
  margin: 25px 0 25px 0;
  padding: 0 25px 0 25px;
}

.friendsRequestsList {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #D3D6DB;
  padding: 15px 0 15px 0;
}

  .friendsRequestsList .headerButton.request {
    margin-right: 0px;
  }

.friendInfoList {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.friendInfoList h3.requestLink {
  padding-top: 20px;
  align-self:flex-start;
}

.friendInfoList svg, .friendInfoList img {
  height: 75px;
  width: 75px;
}

.friendInfoList svg {
  background-color: gray;
}



.buttonContainerList {
  display: flex;
  align-items: center;
}
