#profilePage {
  flex-direction: column;
  align-items: center;
}



#profilePage * {
  font-family: Helvetica, Arial, sans-serif;
}

#profilePage h5 {
  font-size: 12px;
}

#profile {
  background-color: white;
  border: 1px solid #D3D6DB;
}

#panelContainer {
  display: flex;
  width: 850px;
  justify-content: center;
  min-width: 850px;
  margin: 0 auto;
  margin-top: 15px;
}

#panelContainer > div {
  background-color: none;
}

.left {
  flex-grow: 2;
  margin-right: 15px;
}

.right {
  flex-grow: 2;
  width: 250px;
}


div#panelContainer > div {

}

section.intro {
  border-bottom: 1px solid #E9EBEE;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
}

h1.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
}

section.intro h5 {
  align-self: center;
  padding: 10px;
}

#introContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#introContainer:hover > svg {
  display: flex;
}

#introContainer svg {
  position: absolute;
  right: 10px;
  display: none;
}

  svg.editPencil {
    height: 13px;
    width: 13px;
    padding: 3px;
    color: gray;
  }

  svg.editPencil:hover {
    background-color: #3B5998;
    color: white;
    cursor: pointer;
  }


#introForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 10px;
  border: 1px solid #E9EBEE;
  background-color: #F6F7F9;
}

#introForm textarea {
  border-style: none;
  resize: none;
  text-align: center;
  height: 72px;
  border-bottom: 1px solid #E9EBEE;
}

#introFormButtonContainer {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  flex-grow: 1;
  margin: 5px;
}

#introFormButtonContainer > div.formButtons {
  padding-top: 5px;
}

#introFormButtonContainer > div > button {
  font-size: 12px;
  padding: 7px;
}

#introFormButtonContainer > div > button:last-child {
  margin-right: 0px;
}



#introCount {
  align-self: flex-end;
  font-size: 11px;
  color: #90949c;
  padding: 5px;

}

ul#profileDetails {
  padding: 5px 0 5px 0;
  display: flex;
  flex-direction: column;
}

li.profileDetail {
  display: flex;
  font-size: 12px;
  padding: 2px 0 2px 10px;

}

li.profileDetail svg {
  margin-right: 10px;
  fill: gray;
}

div#circleIcon {
  position: relative;
}


svg#circle {
  fill: #4267B2;
  height: 28px;
  width: 28px;
  margin-right: 10px;
}

svg#globe {
  fill: white;
  background-color: #4267B2;
  position: absolute;
  left: 6px;
  top: 6px;
}
