
#PostForm {
  border: inherit;
  border: 1px solid #D3D6DB;
}

#PostForm > div {
  border-bottom: 1px solid #D3D6DB;

}

#PostForm:last-child {
  border-bottom: none;
}

div#formNav {
  display: flex;
  flex-direction: row;
  background-color: #F6F7F9;
}

#formNav a {
  margin:  8px 0 8px 0;
  padding: 1px 7px 1px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #365899;
  border-right: 1px solid #D3D6DB;
  align-items: center;

}

#formNav a:hover{
  cursor: pointer;
  background-color: #F6F7F9;

}

#formNav a svg {
  margin-right: 5px;
  height: 16px;
  width: 16px;
}

#postFormInput {
  display: flex;
  align-items: flex-start;
  background-color: white;
}

.expandableInput[contenteditable] {
    border: 1px solid black;

    overflow-y: inherit;
    overflow: auto;
}


#postFormInput .expandableInput {
  border: none;
  font-size: 24px;
  padding: 15px 10px 30px 10px;
  background-color: white ;
  max-height: 200px;
  flex-grow;

}

#PostForm svg.profileIcon {
  height: 40px;
  width: 40px;
  margin: 10px;
}


.profileThumb {
  height: 40px;
  width: 40px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
}



.profileThumb * {
  width: 100%;
  height: 100%;
}

div#pfButtonContainer {
  display: flex;
  justify-content: space-between;
  border-bottom-width: 0px;
  background-color: white;
}

.submitPost {
  margin: 10px;
  padding: 5px 15px 5px 15px;
  border-style: none;
  border-radius: 3px;
  background-color: #4267B2;
  font-weight: bold;
  color: white;
}

.submitPost:hover {
  background-color: #355089;
  cursor: pointer;
}

.submitPost:active {
  box-shadow: 0 0 2px 2px #A0B8E7;
}

#postOptions {
  display: flex;
  align-items: center;
  border-bottom: none;;
}

#postOptions svg {
  fill: gray;
  height: 16px;
  width: 16px;
  margin-right: 12px;
  margin-left: 12px;
}
#postOptions svg:hover{
  cursor: pointer;
}

div.PostItemContainer {
  margin-top: 20px;
  border: 1px solid #D3D6D8;
}

div.postHeader {
  display: flex;
  flex-direction: row;
  position: relative;
}

div.postMetaData {
  padding-top: 12px;
  padding-left: 10px;

}

div.postMetaData a {
  font-size: 14px;
  text-decoration: none;
  color: #365899;
  font-weight: bold;
  padding-bottom: 7px;
}

div.postMetaData a:hover {
  text-decoration: underline;

}

p.postContent {
    margin-left: 10px;
    font-size: 18px;
    padding-bottom: 15px;
    white-space: pre-line;

}

h5.timeStamp {
  color: #90949c;
}

div.commentSection {
  flex-grow: 1;
}

div.dropDown.post {
  position: absolute;
  top: 5px;
  right: 15px;
  height: 8px;
  width: 8px;
  color: #D6D9DD;
}

div.dropDown.post:hover{
  color: #B3B7BE;
  cursor: pointer;
}

div.commentHeader:hover .dropDown {

}

div.commentHeader > div .dropDown {
  position: absolute;
}
