/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *=
 */


button, a {
   display: flex;
 }

 #profileNav a:hover {
   background-color: #E9EBEE;
 }

 button:hover {
   cursor: pointer;
 }

.dropDown {
  position: relative;
}

ul.dropDown-content {
  display: none;
  position: absolute;
  color: black;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 0 1px 2px gray;
  top: 33px;
  right: 10px;
  z-index: 3;
}

ul.dropDown-content a:hover {
  cursor:pointer;
  background-color: #4267B2;
  color: white;

}

ul.dropDown-content a {
  color: black;
  padding: 5px 22px 5px 22px;
  font-size: 12px;
  margin: 5px 0 5px 0;

}

ul.show {
  display: flex;

}

.primaryContainer {
  margin-top: 25px;
  border: 1px solid #D3D6DB;
  border-radius: 3px;
  min-width: 850px;

}

.primaryContainer > h1 {
  display: flex;
  font-size: 26px;
  font-weight: bold;
  color: #4B4F56;
  padding: 15px;
  background-color: #F6F7F9;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #D3D6DB;
}

.primaryContainer > div {
  background-color: white;
}

.primaryContainer h1 svg {
  margin-right: 15px;
  height: 30px;
  width: 30px;
  fill: #ADB3BC;
}

a.navLink {
  color: #90949C;
  text-decoration: none;
  font-size: 18px;
  padding: 15px;
}

a.navLink:hover {
  color: black;
}
