/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *=
 */


button, a {
   display: flex;
 }

 button:hover, a:hover {
   background-color: #E9EBEE;
 }


ul.dropDown {
  position: absolute;
  color: black;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 0 1px 2px gray;
  top: 33px;
  right: 10px;
  z-index: 3;
}

ul.dropDown a:hover {
  cursor:pointer;
  background-color: #4267B2;
  color: white;

}

ul.dropDown a {
  color: black;
  padding: 5px 22px 5px 22px;
  font-size: 12px;
  margin: 5px 0 5px 0;

}
